# MOVIE GENRE CLASSIFICATION
## Create a machine learning model that can predict the genre of a movie based on its plot summary or other textual information. You can use techniques like TF-IDF or word embeddings with classifiers such as Naive Bayes, Logistic Regression, or Support Vector Machines.

In [43]:
# Importing necessary libraries
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import SVC
from sklearn.metrics import classification_report
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [48]:
# Loading the dataset (replace 'your_dataset.csv' with your actual dataset)
df = pd.read_csv("C:\\Users\\91831\\Downloads\\train_data.csv")
df.head()

,ID,TITLE,GENRE,DESCRIPTION
0,1,Oscar et la dame rose (2009),drama,Listening in to a conversation between his do...
1,2,Cupid (1997),thriller,A brother and sister with a past incestuous r...
2,3,"Young, Wild and Wonderful (1980)",adult,As the bus empties the students for their fie...
3,4,The Secret Sin (1915),drama,To help their unemployed father make ends mee...
4,5,The Unrecovered (2007),drama,The film's title refers not only to the un-re...

In [3]:
# Assuming your dataset has columns 'Description' and 'Genre'
X = df['DESCRIPTION']
y = df['GENRE']

In [4]:
# Converting the plot summaries to TF-IDF features
vectorizer = TfidfVectorizer(stop_words='english')
X_tfidf = vectorizer.fit_transform(X)

In [5]:
# Initializing a Support Vector Machine (SVM) classifier
classifier = SVC(kernel='linear', C=1.0, random_state=42)

In [6]:
# Training the classifier on the full dataset
classifier.fit(X_tfidf, y)

SVC(kernel='linear', random_state=42)

In [7]:
# Loading the test dataset (replace 'your_test_dataset.csv' with your actual test dataset)
test_df = pd.read_csv("C:\\Users\\91831\\Downloads\\test_data.csv")

In [8]:
# Assuming your test dataset has a column 'Description' for the test descriptions
test_descriptions = test_df['DESCRIPTION']

In [9]:
# Handling missing values (replace NaN with an empty string)
test_descriptions = test_descriptions.fillna('')

# Converting the test plot summaries to TF-IDF features using the same vectorizer
test_tfidf = vectorizer.transform(test_descriptions)

In [10]:
# Making predictions on the test dataset
test_predictions = classifier.predict(test_tfidf)

In [11]:
print('Predicted Genres for Test Dataset:')
print(test_predictions)

Predicted Genres for Test Dataset:
[' drama ' ' drama ' ' documentary ' ... ' comedy ' ' drama '
 ' documentary ']

In [66]:
# Converting array to Dataframe
td=pd.DataFrame(test_predictions)

In [68]:
td.head(10)

               0
0         drama
1         drama
2   documentary
3         drama
4         drama
5         drama
6         drama
7        comedy
8   documentary
9   documentary

In [72]:
# Converting y_test to string type
y_test = y_test.astype(str)
# Converting test_predictions to string type
test_predictions = test_predictions.astype(str)
conf_matrix = confusion_matrix(y_test, test_predictions)
print('\nConfusion Matrix:')
print(conf_matrix)

Confusion Matrix:
[[  472     2    13     1     0   109     7   108   454     0     1     0
      0    31     1     0     0     0     3     0    31    33    12     1
     28     0     7     0]
 [    6   241    23     0     0   137     1    28   115     0     0     0
      0     6     0     0     0     0     1     0     2    28     1     0
      1     0     0     0]
 [   34    33   175     6     0    89     0   116   215     4    10     1
      0    23     0     0     1     0     4     0    12    28     2     0
     12     0    10     0]
 [   28     0    14    56     0   106     0    61   106    20    10     0
      0    14     2     0     0     0     4     0    20    54     1     0
      2     0     0     0]
 [    1     0     1     0     0    16     0   174    56     0     0     0
      0     1     3     0     0     0     0     0     0     8     2     1
      0     0     1     0]
 [   67    21    15     9     0  4470     8   375  2064    12     1     5
      0    87    15     1     1     2    23     0    23   207     1     8
     16     0    14     0]
 [   36     0     2     0     0    59    20    46   279     0     0     0
      0     9     1     0     2     0     0     0     1     7     0     0
     40     0     3     0]
 [   23    17     8     1     0   286     5 11231   908    12     0     2
      0    57    65     2     0     2    37     0    15   385    11    11
     11     0     7     0]
 [   79    24    10     1     0  1161     8  1065 10615     4     3     0
      0    75     9     3     0     0     8     3    13   413     2     3
     96     0    17     0]
 [    5     0     3    21     0   176     0   127   274    94     4     2
      0     6     5     3     0     1    21     0     3    33     2     2
      1     0     0     0]
 [   22     1     8     8     0    33     0    39   115     1    19     0
      0    28     0     0     0     0     0     0    10    35     0     1
      2     0     0     0]
 [    2     1     1     0     0    26     0    17     4     0     0   121
      0     0     2     0     0     0    11     0     0     6     2     0
      0     0     0     0]
 [    1     1     3     0     0     6     0   156    66     1     0     0
      0     3     0     0     0     0     1     0     0     5     0     0
      0     0     0     0]
 [   23     4     6     2     0   129     0    97   417     0     1     0
      0  1357     2     0     2     0     3     0     8    68     1     0
     81     0     3     0]
 [    0     2     0     0     0    45     0   243    32     2     0     0
      0     0   375     3     0     1     2     0     1    24     0     1
      0     0     0     0]
 [    2     0     0     2     0    72     0    47   104     3     0     0
      0     2    25     6     0     0     1     0     0    11     0     0
      1     0     0     0]
 [    3     0     0     0     0    26     6    22   163     0     1     0
      0    30     2     0     6     0     0     0     0    20     0     0
     36     0     3     0]
 [    0     0     0     0     0    14     0   109    10     2     0     0
      0     0     2     0     0    14     7     0     0     9     2    12
      0     0     0     0]
 [   10     1     0     0     0   172     0   341    89     8     0     8
      0     9     9     0     0     1   193     0     1    26     4    11
      0     0     0     0]
 [    7     5     0     0     0   125     0    12   487     0     0     0
      0     2     0     1     0     0     0     5     0    24     0     1
      1     0     2     0]
 [   42     3     3     2     0    41     0    89   157     3     0     0
      0    31     0     0     0     0     1     0   217    45     0     0
     11     0     1     0]
 [   29    13     3     4     0   496     1  1318  1377    14     2     1
      0    83    16     0     0     0     7     0    16  1648     9     3
     27     0     5     0]
 [   11     0     1     0     0    26     0   196    19     2     0     1
      0     1     0     0     0     0     9     0     0    14   150     0
      0     0     1     0]
 [    0     0     0     0     0    64     0   171    11     1     0     1
      0     3     9     0     0     1    16     0     0    18     1    95
      0     0     0     0]
 [   52     5     1     0     0   136     7    71   828     0     0     0
      0   186     0     0     0     0     3     1     8    52     2     0
    235     0     3     0]
 [   15     0     2     0     0     5     0    34    67     0     0     0
      0     1     0     0     0     0     0     0     1     2     0     0
      0     5     0     0]
 [   10     0     2     1     0    37     0    13   133     0     0     0
      0     5     0     0     0     0     0     0     0     4     0     0
      2     0   825     0]
 [    0     0     0     0     0     0     0     0     0     0     0     0
      0     0     0     0     0     0     0     0     0     1     0     0
      0     0     0     0]]

In [75]:
#User input
user_input_description = input("Enter a movie description: ")

# Converting the user input to TF-IDF features using the same vectorizer
user_input_tfidf = vectorizer.transform([user_input_description])

# Making predictions on the user input
user_prediction = classifier.predict(user_input_tfidf)

print('Predicted Genre for User Input:')
print(user_prediction[0])

Enter a movie description: The Secret Sin (1915)
Predicted Genre for User Input:
 drama